@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;800;900&display=swap');

body {
	font-family: 'Raleway', sans-serif;
	margin: 0;
	width : auto;
}

img {
	max-width: 100%;
}

h1 {
	font-weight: bolder;
	font-size  : 1.4em;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color          : black;
}

a:hover {
	color:#0065FC;
}

figure {
	position : relative;
	margin   : 20px;
	font-size: 0.9em;
}

figcaption {
	padding-right: 5px;
}

/*DÉBUT MOBILE-FIRST*/

/*HEADER*/

#logo {
	margin-left: 20px;
}

#inscrire {
	position   : absolute;
	right      : 25px;
	top        : 30px;
	font-weight: 700;
}

#inscrire a {
	color: #0065FC;
}

#inscrire a:hover {
	font-weight: bolder;
}

nav ul {
	display: flex;
}

#nav_hebergements, #nav_activites {
	border-bottom : solid 3px #F2F2F2;
	padding-bottom: 15px;
	flex          : 1;
	text-align    : center;
}

#nav_hebergements:hover, #nav_activites:hover {
	border-bottom: solid 3px #0065FC;
	color        : #0065FC;
}

/*FIN HEADER*/

/*FILTRES*/

/*input recherche destination*/

#recherche {
	margin: 20px;
}

#recherche form { 
	display        : flex;
	justify-content: space-between;
	border-radius  : 12px;
	border-top     : solid 1px #F2F2F2;
	border-bottom  : solid 1px #F2F2F2;
}

input {
	padding    : 12px;
	border     : none;
	flex       : 1;
	font-weight: bold;
}

.fa-map-marker-alt {
	background-color: #F2F2F2;
	padding         : 13px 18px 13px 13px;
	border-radius   : 12px 0 0 12px;
}

.fa-search {
	background-color: #0065FC;
	color           : white;
	padding         : 13px;
	border-radius   : 12px;
}

/*Faire disparaître mot " Recherche " provisoirement sur mobile*/
#recherchetexte { 
	display: none;
}

/*Filtres icones*/

#filtres {
	margin: 30px 10px 30px 20px;
}

#titre_filtre {
	font-weight : bold;
	margin-right: 30px;
}

#quatrefiltres .fas {
	background-color: #DEEBFF;
	color           : #0065FC;
	padding         : 13px;
	width           : 15px;
	border-radius   : 25px;
	margin-right    : 20px;
}

#quatrefiltres li {
	margin-top   : 1em;
	border       : solid 2px #f2f2f2;
	border-radius: 25px;
	display      : inline-block;
	padding-right: 20px;
	margin-right : 20px;
	font-weight  : bold;
}

#filtres li:hover {
	color: #0065FC;
	background-color:#F2F2F2;
}

.fa-info {
	color        : #0065FC;
	padding      : 6px 10px 6px 10px;
	border       : solid 1px #f2f2f2;
	border-radius: 25px;
	margin-right : 10px;
}

#filtres + p {
	margin-left: 20px;
}

/* FIN FILTRES*/

/* MAIN*/

/*Les plus polulaires*/

#populaires {
	padding-top     : 15px;
	padding-bottom  : 15px;
	background-color: #F2F2F2;
}

#titrepopulaires {
	display: flex;
	justify-content: space-between;
}

#populaires figure {
	display         : flex;
	background-color: white;
	box-shadow      : 0 7px 8px #dfdcdc;
	border-radius   : 25px; 
	padding         : 5px;
}

#populaires img {
	border-radius: 23px 0 0 23px;
	margin-right : 20px;
	width        : 40%;
	object-fit   : cover;
	height       : 150px;
}

#populaires img:hover {
	width: 45%;
}

figcaption .fa-star {
	color: #0065FC;
}

figcaption .gris {
	color: #F2F2F2;
}

.etoiles_populaires {
	position: absolute;
	bottom  : 12px;
}

/*Hébergements à Marseille*/

section h2 {
	margin-left : 20px;
	margin-right: 20px;
}

.encart_hebergements {
	background-color: white;
	box-shadow      : 0 7px 8px #dfdcdc;
	border-radius   : 25px;
	padding         : 5px;
}

#hebergements img {
	border-radius: 23px 23px 0 0;
	object-fit   : cover;
	height       : 130px;
	min-width    : 100%;
}

#hebergements img:hover {
	height: 137px;
}

.etoiles_hebergements {
	position   : absolute;
	bottom     : 10px;
	margin-top : 15px;
	margin-left: 10px;
}

#hebergements h3 {
	margin: 6px 0 5px 8px;
}

#hebergements p {
	margin: 10px 0 30px 8px;
}

#afficherplus {
	padding-left: 14px;
	font-weight : bold;
	font-size   : 1.3em;
}

/*Fin bloc hébergements Marseille*/

/*Activités à Marseille*/

#activites_marseille {
	max-width: 90%;
	margin   : auto;
}

#activites_marseille img {
	border-radius: 25px 25px 0 0;
	object-fit   : cover;
	height       : 130px;
	min-width    : 100%;
}

#activites_marseille figure {
	margin: auto;
}

#activites_marseille img:hover {
	height: 137px;
}

#activites_marseille a {
	display      : block;
	margin-bottom: 30px;
	box-shadow   : 0 7px 8px #dfdcdc;
	border-radius: 25px;
}

#activites_marseille figcaption {
	padding: 0 0 5px 15px;
}

/*Fin bloc Activités à Marseille*/

/*FOOTER*/

footer {
	margin-top      : 50px;
	background-color: #F2F2F2;
	padding         : 20px;
}

footer li {
	margin-bottom: 10px;
}

.infofooter {
	margin-top: 30px;
}

/*FIN CSS MOBILE-FIRST*/


/*DÉBUT MEDIA QUERY -> Tablettes + Desktop*/

@media screen and (min-width: 650px) {

	/*HEADER*/
		#logo {
			margin-left: 3em;
		}

		header {
			display: flex;
			justify-content: space-between;
		}
	
		header li {
			padding: 1em 2em 1em 2em;
		}
	
		#inscrire:nth-child(1) {
			position    : static;
			order       : 2;
			margin-left : 1em;
			margin-right: 1em;
		}
		
		#nav_hebergements, #nav_activites {
			border: none;
		}
	
		#nav_hebergements:hover, #nav_activites:hover {
			border-top   : solid 3px #0065FC;
			border-bottom: none;
			margin-top   : -15px;
			padding-top  : 28px;
		}

		header + section {
			margin-left: 2.3em;
		}
	
		#recherche form { 
			width: 30%;
		}
	
		form .fa-search {
			display: none;
		}
	
		form #recherchetexte {
			display         : block;
			background-color: #0065FC;
			padding         : 13px;
			border-radius   : 0 15px 15px 0;
			margin          : 0;
		}
	
		form #recherchetexte a {
			color: white;
			font-weight: 600;
		}

		#filtres, #quatrefiltres  {
			margin-top: 0;
		}

	/*LES PLUS POPULAIRES*/
		#populaires {	
			border-radius: 25px;
			margin       : 0 auto 30px auto;
			width        : 83%;
			padding-left : 20px;
			padding-right: 20px;
		}
	
	/*HÉBERGEMENTS À MARSEILLE*/
		#hebergements{
			width        : 83%;
			padding-left : 20px;
			padding-right: 20px;
			margin       : auto;
		}
	
		#hebergements {
			border-radius   : 30px;
			background-color: #F2F2F2;
		}
	
		#lesencarts_hebergements {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}
	
		#titrehebergements {
			padding-top  : 30px;
			margin-left  : 1.2em;
			margin-bottom: 0;
		}
	
	/*ACTIVITÉS À MARSEILLE*/
		#activites_marseille {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 20px;
   			margin: auto;	
		}

		#titre_activites {
			margin-left: 2em;
			margin-top : 2em;
		}
	
	/*FOOTER*/
		#lesinfosfooter {
			display: flex;
			justify-content: space-around;
		}
	}
	
	/*Desktop largeur 992px*/
	
	@media screen and (min-width: 992px) {
		
	/*HEADER*/
		main, header, header + section {
			max-width: 1500px;
			margin   : auto;
		}

		#logo {
			margin-left: 1em;
			height     : 3.3em;
		}

		#filtres {
			display    : flex;
			align-items: baseline;
		}
		
	/*MARGES*/

		#section_one {
			display: flex;
			margin : 20px;
		}

	/*HÉBERGEMENTS*/
		#hebergements:nth-child(2) {
			order: 1;
			flex : 2;
			margin-right: 30px;
		}

		#populaires:nth-child(1) {
			order: 2;
			flex : 1;
			margin-bottom: 0;
		}

		#hebergements img {
			height: 120px;
		}
		
		#hebergements img:hover {
			height: 127px;
		}
	
		#lesencarts_hebergements {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
		}
	
		.encart_populaires, #lesencarts_hebergements {
			font-size: 0.8em;
		}

	/*ACTIVITÉS À MARSEILLE*/
	
	#titre_activites {
		margin-left: 1em;
	}
	#activites_marseille a {
		margin-bottom: 0;
	}
	
	#activites_marseille {
		font-size: 0.8em;
		max-width: 97%;
		height   : 500px;
		display  : grid;
		gap      : 35px;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows   : repeat(3, 1fr);
		grid-template-areas:
		"encart1_activites encart2_activites encart4_activites encart5_activites"
		"encart1_activites encart2_activites encart4_activites encart6_activites"
		"encart1_activites encart3_activites encart4_activites encart6_activites";
	}

	#lien_encart1_activites {
		grid-area: encart1_activites;
	}
	
	#lien_encart2_activites {
		grid-area: encart2_activites;
	}

	#lien_encart2_activites img, #lien_encart6_activites img {
		height: 233px;
	}

	#lien_encart2_activites img:hover, #lien_encart6_activites img:hover {
		height: 236px;
	}
	
	#lien_encart3_activites {
		grid-area: encart3_activites;
	}
	
	#lien_encart4_activites {
		grid-area: encart4_activites;
	}
	
	#lien_encart5_activites {
		grid-area: encart5_activites;
	}
	
	#lien_encart6_activites {
		grid-area: encart6_activites;
	}

	#lien_encart1_activites img, #lien_encart4_activites img {
		height: 450px;
	}

	#lien_encart1_activites img:hover, #lien_encart4_activites img:hover {
		height: 453px;
	}

	/*FOOTER*/
		#lesinfosfooter {
			max-width: 1500px;
			margin   : auto;
			justify-content: flex-start;

		}

		.infofooter {
			margin-right: 20%;
			margin-top  : 0;
		}
	}